/* GLOBAL */
body {
  margin: 0 4rem;
  background-color: rgb(198, 187, 198);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 1rem;
  background-color: rgb(159, 120, 175);
  border: none;
  color: white;
}

button:hover {
  background-color: rgb(232, 215, 250);
  color: black;
}

/* navbar */
.navBar {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 4rem;
}

.blogTitle {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(141, 73, 142);
}

.addBtn {
  font-size: 2.75rem;
  color: rgb(141, 73, 142);
}

.addBtn:hover {
  color: white;
}

/* main page */
.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.imgContainer {
  position: relative;
}

.imgContainer::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(159, 120, 175);
  position: absolute;
  top: 20px;
  left: -20px;
  z-index: -1;
}

.img {
  width: 100%;
  object-fit: cover;
}

.title {
  margin-top: 4rem;
  font-size: 1.75rem;
  text-align: center;
}

.content {
  margin: 2rem 0;
}

.readMore {
  float: right;
}
/* createpost */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  padding: 2rem;
}

#titleInput {
  padding: 8px;
}

.fileUpload {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.textareaContainer {
  height: 400px;
  overflow: scroll;
  border: none;
}

.textarea {
  height: 100%;
  border: none;
}

.ql-container,
.ql-editor {
  height: auto;
}

/* single post */

.singlePostInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.singleImgContainer {
  width: 100%;
}

.singleImg {
  width: 100%;
}

.btnContainer {
  display: flex;
  gap: 5rem;
  align-items: center;
  margin: 2rem;
}

.deleteBtn,
.editBtn {
  background-color: rgb(159, 120, 175);
  color: white;
  font-size: 1rem;
  width: 80px;
  padding: 0.75rem 0.25rem;
  text-align: center;
}

.deleteBtn:hover,
.editBtn:hover {
  background-color: rgb(232, 215, 250);
  color: black;
}

.singlePostTitle {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  font-weight: 800;
}

.singlePostContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* post info */
@media (min-width: 600px) {
  .postsContainer {
    gap: 2rem;
  }
  .post {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .post:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }

  .postContent {
    flex-basis: 50%;
  }
  .imgContainer {
    flex-basis: 50%;
  }
}

@media (min-width: 900px) {
  body {
    margin: 0 8rem;
  }

  .postsContainer {
    gap: 7rem;
  }
  .post {
    gap: 5rem;
  }

  .singlePost {
    display: flex;
    justify-content: center;
  }

  .singlePostInfo {
    width: 70%;
  }
}
